<ion-header>
  <ion-toolbar color="darkprimary">
    <ion-title>Index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label>Meus Eventos Criados: </ion-label>
  </ion-item>
  <div *ngFor="let evento of eventsModel">
    <div [ngClass]="{redClass: !evento.status}">
      <ion-card *ngIf="evento.user.id == userId" button (click)="openEvento(evento.id)">
        <ion-card-header class="ion-text-center">
          <ion-card-subtitle>{{evento.eventType.name}}</ion-card-subtitle>
          <ion-card-title>{{evento.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          {{evento.description}}
          <br>
          <ion-datetime readonly="true" min="2019" max="2025" [dayShortNames]="customDayShortNames"
            displayFormat="D MMM YYYY HH:mm"
            monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" [(ngModel)]="evento.startDate">
          </ion-datetime>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-item>
    <ion-label>Eventos que Participo: </ion-label>
  </ion-item>
  <div *ngFor="let evento of eventsModel">
    <div *ngFor="let part of evento.participants" [ngClass]="{redClass: !evento.status}">
      <ion-card *ngIf="part.id == userId" button (click)="openEvento(evento.id)">
        <ion-card-header>
          <ion-card-subtitle>{{evento.eventType.name}}</ion-card-subtitle>
          <ion-card-title>{{evento.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{evento.id}}
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>