<ion-header >
  <ion-toolbar color="dark">
      <ion-button *ngIf="isOwner && id > 0" color="danger" slot="start" (click)="deleteEvent()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

    <ion-title>Evento</ion-title>
   
    <ion-button color="dark" slot="end" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngIf="id != 0">
      <ion-label position="floating">ID: </ion-label>
      <ion-input readonly="true" [(ngModel)]="evento.id"></ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="id == 0 || isOwner">
      <ion-label>Tipo:</ion-label>
      <ion-select interface="popover" [(ngModel)]="evento.eventTypeId"  placeholder="Selecione">
        <ion-select-option  *ngFor="let tipoEvento of tipoEventos"
          [value]="tipoEvento.id">{{tipoEvento.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="id > 0">
        <ion-label>Tipo: {{evento.eventType.name}}</ion-label>
      </ion-item> -->
    <ion-item>
      <ion-label position="floating">Titulo: </ion-label>
      <ion-input [readonly]="!isOwner" [(ngModel)]="evento.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Inicio do Evento: </ion-label>
      <ion-datetime [readonly]="!isOwner" min="2019" max="2025"
        [dayShortNames]="customDayShortNames" displayFormat="D MMM YYYY HH:mm"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" [(ngModel)]="evento.startDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Final do Evento: </ion-label>
      <ion-datetime [readonly]="!isOwner" min="2019" max="2025"
        [dayShortNames]="customDayShortNames" displayFormat="D MMM YYYY HH:mm"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" [(ngModel)]="evento.endDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Cidade: </ion-label>
      <ion-input [readonly]="!isOwner" [(ngModel)]="evento.city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bairro: </ion-label>
      <ion-input [readonly]="!isOwner" [(ngModel)]="evento.neighborhood"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Rua: </ion-label>
      <ion-input [readonly]="!isOwner" [(ngModel)]="evento.street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ponto de Referencia: </ion-label>
      <ion-input [readonly]="!isOwner" [(ngModel)]="evento.referencePoint"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descricao</ion-label>
      <ion-textarea [readonly]="!isOwner" [(ngModel)]="evento.description"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-button *ngIf="isOwner && id == 0 " color="success" fill="outline" expand="block" (click)="addEvento()">
    <ion-label>Salvar</ion-label>
  </ion-button>
  <ion-button *ngIf="isOwner && id > 0 && evento.status" color="success" fill="outline" expand="block" (click)="updateEvento()">
    <ion-label>Atualizar evento</ion-label>
  </ion-button>

  <ion-item-group>
    <ion-item-divider>
      <ion-label color="primary">Participantes</ion-label>
    </ion-item-divider>
    <div *ngFor="let part of evento.participant">
      <ion-item>
        <ion-label>{{part.username}}</ion-label>
      </ion-item>
    </div>
  </ion-item-group>


  <ion-button *ngIf="!isParticipant && id > 0 && evento.status" size="large" expand="block" fill="outline" (click)="participar()">
    <ion-icon slot="start" name="send"></ion-icon>
    <ion-label> Participar </ion-label>
  </ion-button>

  <div>
  <ion-list *ngIf="isParticipant && mensagens !=null">
      <ion-item-divider>
          <ion-label color="primary">Mensagens</ion-label>
        </ion-item-divider>
    <ion-item *ngFor="let msgg of mensagens">
      <ion-label position="floating">{{msgg.username}}</ion-label>
      <ion-input readonly="true" [(ngModel)]="msgg.message"></ion-input>
    </ion-item>
  </ion-list>
</div>

  <ion-item-group>
    <ion-item *ngIf="isParticipant && evento.status" color="light">
      <ion-label position="floating">Digite uma mensagem</ion-label>
      <ion-input [(ngModel)]="msg.message" type="text"></ion-input>

      <ion-button  (click)="addMensagem()">
        Enviar
        <ion-icon slot="end" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-group>



</ion-content>